<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a review</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="post" id="form_box">
        <h3>Name: </h3><input type="text" name="name" id="name_input" class="input_box"><br>
        <h3>Age: </h3><input type="number" name="age" id="age_input" class="input_box"><br>
        <h3>Comment: </h3><input type="text" name="comment" id="comment_input" class="input_box"><br>
        <input type="submit" value="SUBMIT" id="submit_input">
    </form>
</body>
</html>